[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib
[submodule "libtomcrypt"]
	path = libtomcrypt
	url = https://github.com/libtom/libtomcrypt
[submodule "libtommath"]
	path = libtommath
	url = https://github.com/libtom/libtommath
